<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Configuration</mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]="form" class="content">
    <mat-card class="general-config">
      <mat-card-content>
        <div class="general-config-layout">
          <button (click)="randomizeLayers()" color="primary" mat-mini-fab matTooltip="Create random layers">
            <mat-icon>auto_mode</mat-icon>
          </button>
          <button (click)="exportLayers()" aria-label="Button to export star layers" color="primary" mat-stroked-button>
            <mat-icon>content_copy</mat-icon>
            Copy current layers to clipboard
          </button>
          <mat-slide-toggle color="primary" formControlName="responsive">Responsive</mat-slide-toggle>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="layers-form">
      <ng-container formArrayName="layers">
        @for (layerForm of formLayers.controls; track layerForm.value.id; let i = $index) {
          <mat-card class="card">
            <mat-card-header class="card-header">
              <mat-card-subtitle>Layer #{{ i + 1 }}</mat-card-subtitle>
              <button
                mat-icon-button
                color="primary"
                class="control-delete"
                aria-label="Button to delete a layer with delete icon"
                matTooltip="Remove layer"
                (click)="deleteLayer(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-content>
              <div [formGroupName]="i" class="control-container">
                <mat-form-field appearance="outline" subscriptSizing="dynamic" class="control-color">
                  <mat-label>color</mat-label>
                  <input matInput formControlName="color" type="color" />
                </mat-form-field>
                <mat-form-field appearance="outline" subscriptSizing="dynamic" class="control-direction">
                  <mat-label>direction</mat-label>
                  <mat-select formControlName="direction" placeholder="up">
                    <mat-option [value]="'up'">up</mat-option>
                    <mat-option [value]="'down'">down</mat-option>
                    <mat-option [value]="'left'">left</mat-option>
                    <mat-option [value]="'right'">right</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="control-sliders">
                  <label>speed</label>
                  <mat-slider min="0" max="500" step="1" discrete>
                    <input matSliderThumb formControlName="speed" />
                  </mat-slider>
                  <label>density</label>
                  <mat-slider min="1" max="100" step="1" discrete>
                    <input matSliderThumb formControlName="density" />
                  </mat-slider>
                  <label>size</label>
                  <mat-slider min="1" max="50" step="1" discrete [displayWith]="formatPxLabel">
                    <input matSliderThumb formControlName="size" />
                  </mat-slider>
                  <label>blur</label>
                  <mat-slider min="0" max="20" step="1" discrete>
                    <input matSliderThumb formControlName="blur" />
                  </mat-slider>
                  <label>glow</label>
                  <mat-slider min="0" max="20" step="1" discrete [displayWith]="formatPxLabel">
                    <input matSliderThumb formControlName="glow" />
                  </mat-slider>
                </div>
                <mat-checkbox labelPosition="before" color="primary" formControlName="isRound"> isRound</mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>
        }
      </ng-container>
      <div class="grid-1">
        <button (click)="addLayer()" color="primary" mat-mini-fab matTooltip="Add layer">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
