<mat-card>
  <mat-card-content class="container">
    <div class="layers-form" [formGroup]="form">
      <ng-container formArrayName="layers">
        <ng-container *ngFor="let layerForm of layers.controls; let i = index">
          <div [formGroupName]="i" class="control-container">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="control-color"
            >
              <mat-label>color</mat-label>
              <input matInput formControlName="color" type="color" />
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="control-direction"
            >
              <mat-label>direction</mat-label>
              <mat-select formControlName="direction" placeholder="up">
                <mat-option [value]="'up'">up</mat-option>
                <mat-option [value]="'down'">down</mat-option>
                <mat-option [value]="'left'">left</mat-option>
                <mat-option [value]="'right'">right</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="control-sliders">
              <label>speed</label>
              <mat-slider min="1" max="500" step="1" discrete>
                <input matSliderThumb formControlName="speed" />
              </mat-slider>
              <label>density</label>
              <mat-slider min="1" max="100" step="1" discrete>
                <input matSliderThumb formControlName="density" />
              </mat-slider>
              <label>size</label>
              <mat-slider
                min="1"
                max="50"
                step="1"
                discrete
                [displayWith]="formatSizeLabel"
              >
                <input matSliderThumb formControlName="size" />
              </mat-slider>
            </div>
            <button
              mat-icon-button
              color="primary"
              class="control-delete"
              aria-label="Button to delete a layer with delete icon"
              (click)="deleteLayer(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <button mat-mini-fab color="primary" (click)="addLayer()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
