:host {
  display: grid;

  --margin: 3rem;
}

.title,
#stars,
.repo-link {
  grid-row: 1;
  grid-column: 1;
}

.title {
  --shadow-color: #fff;
  place-self: center;
  text-shadow: 0 0 0.25em var(--shadow-color);
  transition: text-shadow 0.4s ease-out;
  cursor: default;
  z-index: 1;
  padding: 2rem;

  &:hover {
    text-shadow: 0 0 0.5em var(--shadow-color);
  }
}

#stars {
  z-index: 0;
}

.repo-link {
  align-self: end;
  justify-self: center;
  margin-bottom: var(--margin);
  z-index: 1;

  img {
    --shadow-color: #ffffff6c;
    filter: drop-shadow(0 0 0.125em var(--shadow-color));
    height: 3rem;
    transition: all 0.4s ease-out;

    &:hover {
      filter: drop-shadow(0 0 0.5em var(--shadow-color));
    }
  }
}

.config-container {
  display: grid;
  bottom: 0;
  box-sizing: border-box;
  grid-gap: 2rem;
  grid-template-rows: 1fr max-content;
  justify-items: end;
  margin: var(--margin);
  max-height: calc(100vh - 2 * var(--margin));
  position: fixed;
  right: 0;
  z-index: 2;
}

.config-button {
  grid-row: 2;
}

.hidden {
  display: none;
}
