<h1 class="title"><a [href]="repoUrl">ngx-parallax-stars</a></h1>
<ngx-parallax-stars
  id="stars"
  [layers]="layers"
  [responsive]="responsive"
></ngx-parallax-stars>
<a [href]="repoUrl" class="repo-link">
  <img
    ngSrc="assets/images/github-mark-white.svg"
    width="48"
    height="48"
    alt="github logo"
/></a>
<span class="version">v2.0.0</span>

<div class="config-container">
  <ngx-parallax-stars-config
    [class.hidden]="!isConfigOpen"
    (configChanged)="updateComponent($event)"
  >
  </ngx-parallax-stars-config>
  <button
    mat-fab
    color="accent"
    aria-label="Button with settings icon to toggle configuration"
    class="config-button"
    (click)="toggleConfig()"
  >
    <mat-icon>{{ isConfigOpen ? 'close' : 'settings' }}</mat-icon>
  </button>
</div>
