<h1 class="title">ngx-parallax-stars</h1>
<ngx-parallax-stars id="stars" [layers]="layers"></ngx-parallax-stars>

<div class="config-container">
  <ngx-parallax-stars-config
    [class.hidden]="!isConfigOpen"
    (layersChanged)="updateLayers($event)"
  >
  </ngx-parallax-stars-config>
  <button
    mat-fab
    color="accent"
    aria-label="Button with settings icon to toggle configuration"
    class="config-button"
    (click)="toggleConfig()"
  >
    <mat-icon>{{ isConfigOpen ? 'close' : 'settings' }}</mat-icon>
  </button>
</div>
