<h1 class="title"><a [href]="repoUrl">ngx-parallax-stars</a></h1>

<ngx-parallax-stars [layers]="layers()" [responsive]="responsive()" id="stars"></ngx-parallax-stars>

<a [href]="repoUrl" class="repo-link">
  <img alt="github logo" height="48" ngSrc="assets/images/github-mark-white.svg" width="48"
/></a>

<div class="config-container">
  <ngx-parallax-stars-config (configChanged)="updateComponent($event)" [class.hidden]="!isConfigOpen()">
  </ngx-parallax-stars-config>
  <button
    (click)="toggleConfig()"
    aria-label="Button with settings icon to toggle configuration"
    class="config-button"
    color="accent"
    mat-fab
  >
    <mat-icon>{{ isConfigOpen() ? 'close' : 'settings' }}</mat-icon>
  </button>
</div>

<ngx-parallax-stars-mouse-highlighter></ngx-parallax-stars-mouse-highlighter>
