@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: (
      brand-family: Comfortaa,
    ),
    density: (
      scale: -3,
    ),
  )
);

html {
  @include mat.all-component-themes($theme);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
  font-display: swap;
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Comfortaa';
  src: url('assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 1 999;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at center, #1b2735ff 0%, #090a0fff 100%);
  color: #fff;
  font-family: Comfortaa, sans-serif;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
